@model RecipeBuilder.ViewModels.IngredientsIndexVM
@{
    ViewData["Title"] = "Ingredients";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingredients</title>
    
    <style>
        #mainContainer {
            padding: 0px; 
            border-radius: 10px;
            max-width: 900px; 
            margin: auto; 
        }

        h1 {
            color: #4A743E;
            text-align: center;
            margin: 10px 0; 
        }

        .text-center {
            text-align: center; 
        }

        .search-container {
            margin: 20px 0; 
            text-align: center; 
        }

        .search-container input[type="text"] {
            width: 300px; 
            padding: 10px; 
            border: 1px solid #ccc; 
            border-radius: 5px; 
        }

        .alphabet {
            display: flex; 
            justify-content: center;
            margin: 20px 0; 
        }

        .alphabet a {
            margin: 0 10px; 
            text-decoration: none; 
            color: #4A743E; 
            font-weight: bold; 
            transition: color 0.3s; 
        }

        .alphabet a:hover {
            color: #96AE6D; 
        }

        .ingredients-list {
            margin-top: 30px; 
        }

        .ingredients-list ul {
            list-style-type: none; 
            padding: 0; 
        }

        .ingredients-list li {
            font-size: 18px; 
            margin: 5px 0; 
            padding: 10px; 
            border-bottom: 1px solid #ccc; 
        }

        .ingredients-list li:hover {
            background-color: #E8E8E8; 
        }

        .ingredients-list a {
            text-decoration: none; 
            color: #4A743E; 
        }
    </style>
</head>

<body>
    <div id="mainContainer">
        <div class="text-center">
            <h1 class="display-4">Ingredients</h1>
            @* <div class="search-container">
                <input type="text" id="ingredientSearch" placeholder="Search" oninput="scrollToIngredient()">
            </div> *@
        </div>

        <div class="alphabet">
            @foreach (var letter in @Model.ingredientNamesDict.Keys)
            {
                <a href="#@letter">@letter</a>
            }
        </div>

        <div class="ingredients-list">
            @foreach (var letter in @Model.ingredientNamesDict.Keys)
            {
                <h2 id="@letter">@letter</h2>
                <ul>
                    @foreach (var ingredient in @Model.ingredientNamesDict[letter])
                    {
                        <li><a href="/Recipe/Index/@ingredient">@ingredient</a></li>
                    }
                </ul>
            }
        </div>
    </div>

    <script>
        function scrollToIngredient() {
            const searchInput = document.getElementById('ingredientSearch').value.toLowerCase();
            const items = document.querySelectorAll('.ingredients-list li a');

            items.forEach(item => {
                if (item.textContent.toLowerCase().includes(searchInput)) {
                    const ingredientSection = item.closest('ul').previousElementSibling; // get following header (h2)
                    ingredientSection.scrollIntoView({ behavior: 'smooth' });
                    return; // exit loop
                }
            });
        }
    </script>
</body>
