@model RecipeBuilder.ViewModels.MealPlannerIndexVM

@{
    ViewData["Title"] = "Meal Schedule";
}

<!-- CSS for page -->
<style>
    h1 {
        color: #4A743E;
        text-align: center;
        margin-top: 0; 
        padding-top: 0; 
    }

    body {
        background-color: #ffffff; 
        color: #333; 
        margin: 0;
        padding: 0;
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0; 
    }

    hr.rounded {
        border-top: 8px solid #96AE6D;
        border-radius: 5px;
        width: 80%; 
        margin: 0 auto; 
        margin-top: 10px;
    }

    .button {
        background-color: #4A743E;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 40px; 
        text-decoration: none;
    }

    .button:hover {
        background-color: #96AE6D;
    }

    .schedule {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
        justify-content: center;
    }

    .day {
        background-color: #F5F5F5;
        border-radius: 5px;
        width: 100%;
        max-width: 300px;
        padding: 10px;
        text-align: center;
    }

    .schedule-title {
        font-size: 1.5em;
        margin: 10px 0;
        color: #4A743E;
        text-align: center;
    }
</style>

<body>
    <div class="container">
        <h1 class="display-4">Meal Schedule</h1>
        <hr class="rounded">
        <br>
        
        <h2 class="schedule-title">@Model.ScheduledMealsToday.Date.DayOfWeek @Model.ScheduledMealsToday.Date</h2>
        <div class="schedule">
            @foreach (var meal in @Model.ScheduledMealsToday.Meals)
            {
                int mealIndex = @Model.ScheduledMealsToday.Meals.IndexOf(meal);
                int mealNum = mealIndex + 1;
                <div class="day">
                    <form method="post" asp-controller="MealPlanner" asp-action="ViewMealDetails">
                        <input type="hidden" name="date" value="@Model.ScheduledMealsToday.Date.ToString()" />
                        <input type="hidden" name="mealNum" value=@mealIndex />
                        <button type="submit" class="btn btn-custom">Meal @mealNum Recipes</button>
                    </form>

                        @foreach (var recipe in meal.recipeNames)
                        {
                            <p>@recipe</p>
                        }

                    
                </div>
            }
        </div>

        <br><br>
        
        <h2 class="schedule-title">This Week</h2>
        <div class="schedule">
            @foreach (var day in @Model.ScheduledMealsThisWeek.Days)
            {
                <div class="day">
                    <a asp-controller="MealPlanner" asp-action="Day" asp-route-date="@day.Date">
                        @day.Date.DayOfWeek @day.Date
                    </a>
                    @foreach (var meal in day.Meals)
                    {
                        <p>Meal @(@day.Meals.IndexOf(meal) + 1) Recipes</p>
                        @foreach (var recipe in meal.recipeNames)
                        {
                            <p>@recipe</p>
                        }
                    }
                </div>
            }
        </div>
    </div>
</body>
