@model RecipeBuilder.ViewModels.MealPlannerMonthVM

@{ 
    ViewData["Title"] = "Monthly Meals"; 
}

<!-- styling for page -->
<style>
    h1 {
        color: #4A743E;
        text-align: center;
        margin-top: 0;
        padding-top: 0;
    }

    body {
        background-color: #ffffff; 
        color: #333; 
        margin: 0;
        padding: 0; 
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0; 
    }

    hr.rounded {
        border-top: 8px solid #96AE6D;
        border-radius: 5px;
        width: 80%;
        margin: 10px auto;
    }

    /* Button styles */
    .button {
        background-color: #4A743E;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    .button:hover {
        background-color: #96AE6D;
    }

    .month {
        display: grid;
        grid-template-columns: auto repeat(7, 1fr);
        grid-template-rows: repeat(5, auto);
        gap: 10px;
        margin-top: 20px;
        padding: 20px;
        background-color: #F5F5F5;
        border-radius: 5px;
    }

    .week-label {
        font-weight: bold;
        color: #4A743E;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .day {
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        text-align: center;
    }

    .day-title {
        font-size: 1.2em;
        color: #4A743E;
        margin: 0 0 5px 0;
    }

    .button-container {
        margin-bottom: 40px;
        text-align: center; 
    }
</style>

<body>
    <div class="container">
        <h1 class="display-4">Monthly Meal Planner</h1>
        <h1 class="display-4">@Model.monthName</h1>
        <hr class="rounded">
        <br>
        
        <div class="month">
            @foreach (var week in @Model.monthPlans.weeks)
            {
                <div class="week-label">
                    <a asp-controller="MealPlanner" asp-action="Week" asp-route-date=@week.Days[0].Date>Week @(@Model.monthPlans.weeks.IndexOf(week) + 1)</a>
                </div>
                    @foreach (var day in week.Days)
                    {
                        <div class="day">
                            @* Make anchor with asp-route-date=@day.Date *@
                            <p class="day-title">@day.Date.DayOfWeek @day.Date</p> 
                            @foreach (var meal in day.Meals)
                            {
                                <p>
                                @foreach (var recipe in meal.recipes)
                                {
                                    @* if (meal.recipes.IndexOf(recipe) != 0)
                                    {
                                        ,&nbsp
                                    } *@
                                    @recipe.Name
                                }
                                </p>
                                
                            }
                        </div>
                    }
            }

        </div>
    </div>
</body>
