@model RecipeBuilder.ViewModels.RecipeIndexVM

@{
    ViewData["Title"] = @Model.recipe.Name;
}

<div class="text-center">
<<<<<<< HEAD
    <h1 class="display-4">Recipe: @Model.recipe.Name</h1>
    <p>Let's get ready to cook!</p>
    <p>Here are the instructions:</p>
=======
    <h1 class="display-4">@Model.recipe.Name</h1>
    <a asp-controller="Recipe" asp-action="Edit" asp-route-cookbookName=@Model.cookbookName asp-route-recipeName=@Model.recipe.Name>Edit Recipe</a>
    <p>Let's get ready to cook!</p>
    <p>Cooktime: @Model.recipe.CookTime minutes</p>
    <p>Difficulty: @Model.recipe.Difficulty</p>
    <h2>Steps</h2>
    <ol>
        @if (@Model.recipe.Instructions !=  null)
        {
            @foreach (var step in @Model.recipe.Instructions)
            {
                <li>@step</li>
            }
        }
        
    </ol>
>>>>>>> 5bd404f (BasicAppController&ViewCommunication)
</div>