@model RecipeBuilder.ViewModels.RecipeLookVM

@{
    ViewData["Title"] = @Model.recipe.Name;
}

<div class="container">
    <div class ="row mb-3">
        <div class="col-md-4 d-flex align-items-center">
            <a asp-controller="Recipe" asp-action="Edit" asp-route-recipeName=@Model.recipe.Name>Edit Recipe</a>
        </div>
        <div class="col-md-8 text-center">
            <h1 class="display-4" style="margin: 0;">@Model.recipe.Name</h1><br>
        </div>
    </div>
    <div class="row">
        <!--Left Side of Page-->
        <div id="recipeContainer"class="col-md-4">
            <h4>Rating: @Model.recipe.Rating</h4>
            <h4>Difficulty: @Model.recipe.Difficulty</h4>
            <br />
            @if (@Model.recipe.Ingredients !=  null)
            {
                <h4>Ingredients:</h4>
                <ul>
                @foreach (var ing in @Model.recipe.Ingredients)
                {
                    <li>
                        @ing.Quantity @ing.Unit @ing.Qualifier @ing.Ingredient.Name
                        @* <button class="add-to-cart-btn" onclick="addToCart('@ing.Ingredient.Name',this)">Add to Cart</button> *@
                    </li>
                }
                </ul>
            }
        </div>
        <!--Right Side of Page-->
        <div class="col-md-8">
            <div id="recipeContainer">
                @if(@Model.recipe.Description != null && @Model.recipe.Description.Any())
                {
                    <i class="align-items-center">@Model.recipe.Description</i>
                }
                <br>
                @if(@Model.recipe.Tags != null && @Model.recipe.Tags.Any())
                {
                    <span>Tags: </span>
                    int i=0;
                    @foreach(var tags in @Model.recipe.Tags)
                    {
                        if (i != 0)
                        {
                            <span>, @tags</span>
                        }
                        else
                        {
                            <span>@tags</span>
                            i++;
                        }
                        
                    }
                }
                <br>
                @if(@Model.recipe.Equipment != null && @Model.recipe.Equipment.Any())
                {
                    <span>Equipment needed: </span>
                    int i = 0;
                    @foreach (var tools in @Model.recipe.Equipment)
                    {
                        if (i != 0)
                        {
                            <span>, @tools</span>
                        }
                        else
                        {
                            <span>@tools</span>
                            i++;
                        }

                    }    
                }
            </div><br>
            <div id="recipeContainer">
                <div class="row">
                    <div class="column">
                        <h5 class="align-items-center">Prep Time: @Model.recipe.PrepTime min</h5>
                    </div>
                    <div class="column">
                        <h5 class="align-items-center">Cook Time: @Model.recipe.CookTime min</h5>
                    </div>
                </div>
                <div class="row align-items-center">
                    <h5>Makes @Model.recipe.numServings @Model.recipe.servingSize</h5>
                </div>
            </div><br>
            <div id="recipeContainer">
                <h4>Instructions:</h4>
                <ol>
                    @if (@Model.recipe.Instructions !=  null)
                    {
                        @foreach (var inst in @Model.recipe.Instructions)
                        {
                            <li>@inst</li>
                        }
                    }
                </ol>
            </div>
        </div>
    </div>
</div>
<script>
    function addToCart(ingName, button){
        if(button.textContent == "Add to Cart"){
            button.textContent = "Added";
            //code needed to add to shopping list
        } else{
            button.textContent = "Add to Cart";
            //code needed to remove from shopping list
        }
    }
</script>
<style>
    .add-to-cart-btn {
        color: white;
        background-color: #4A743E;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        transition: background-color 0.3s ease;
    }
    .add-to-cart-btn:hover{
        background-color: #96AE6D;
    }
    #recipeContainer {
        background-color: #F4F3EC;
        padding: 20px;
        border-radius: 10px;
        max-width: 900px;
        margin: auto;
    }
    #recipeContainer ul {
        list-style-type: disc;
        padding-left: 20px;
        color: #4A743E;
    }

    #recipeContainer ul li {
        margin: 10px 0;
    }

    #recipeContainer form {
        display: inline; /* Keep the form inline with the text */
    }
    .column {
        float: left;
        width: 50%;
    }
    .row {
        display: flex;
    }
</style>
