@model RecipeBuilder.ViewModels.CookbooksAddVM

@{
    ViewData["Title"] = "Create Cookbook";
}

<style>
    /* header styling */
    h1 {
        color: #4A743E;
    }

    /* button styling */
    .btn-custom {
        background-color: #4A743E;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .btn-custom:hover {
        background-color: #96AE6D;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Create Cookbook</h1>
</div>

<form asp-controller="Cookbooks" asp-action="Add" method="post" id="form">

<div class="form-group">
    <label for="CookbookTitle">Cookbook Name:</label>
    <input type="text" class="form-control" id="CookbookTitle" asp-for="@Model.newcookbook.Title" required /><br>
    <span asp-validation-for="@Model.newcookbook.Title" class="text-danger"></span>
</div>

<div class="form-group">
    <label for="CookbookDescription">Description:</label>
    <textarea class="form-control" id="CookbookDescription" asp-for="@Model.newcookbook.Description" required></textarea><br>
    <span asp-validation-for="@Model.newcookbook.Description" class="text-danger"></span>
</div>

<div class="form-group">
    <label for="AddedRecipes">Add Recipes:</label>
</div>

                @if(Model.UserRecipesNames != null && Model.UserRecipesNames.Any())
                {
                    <div class="form-group">
                        <div id="recipe-container">
                            <table id="recipeTable">
                                <thead>
                                    <tr>
                                        <th>Recipes</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                @for (int i = 0; i < Model.UserRecipesNames.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <select name="newcookbook.RecipeNames[@i]" value="@Model.newcookbook.RecipeNames">
                                                <option value="" disabled selected>Select a Recipe</option>
                                                @foreach(string recipeName in Model.UserRecipesNames)
                                                {
                                                    <option value="@recipeName">@recipeName</option>
                                                }
                                            </select>
                                        </td>
                                        <td>
                                            <button type="button" onclick="removeRecipeRow(this)">Remove</button>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>

                        <div>
                            <span class="plus-button" onclick="addRecipeRow()">+</span>
                        </div><br>
                    </div>
                }
                else
                {
                    <p>No Recipes to Select</p>
                }

        @if (Model != null)
        {
            @if (Model.msg != "")
            {
            <div>
            <p>@Model.msg</p>
            </div>
            }
        }


<br><button type="submit" class="btn btn-custom">Save Cookbook</button><br>
<br>
</form>
<script>
    function addRecipeRow(){
        var rowCount = document.querySelectorAll('#recipeTable tbody tr').length;
        var initialDropdown = document.querySelector('#recipeTable tbody tr').outerHTML;
        var newRow = document.createElement('tr');

        newRow.innerHTML = initialDropdown;

        // Update the 'name' attribute in the new row's dropdown to reflect the current index
        var selectElement = newRow.querySelector('select');
        selectElement.setAttribute('name', `newcookbook.RecipeNames[${rowCount}]`);

        document.getElementById("recipeTable").getElementsByTagName('tbody')[0].appendChild(newRow);
    }
</script>
